
<div class="container" style="background-color: white">
<% if current_user && current_user.status == "admin"%>
<% @contacts = Contact.all %>
<% @contacts.each do |contact|%>
<H1><%=contact.id%> : <%=contact.name%> <%=contact.prenom%></H1>
<h4>Âge : <%=contact.age%></h4>
<h4>E-mail : <%=contact.email%></h4>
<h4>Téléphone : <%=contact.mobile%></h4>
<h4>LanguÒes parlées : <%=contact.langue%></h4>
<h4>Mobilité: <%=contact.mobilite%></h4>
<h4>Vos lieux d'interventions : <%=contact.lieuintervention%></h4>
<h4>Permis acquis : <%=contact.permis%></h4>
<h4>Diplome(s) : <%=contact.diplome%></h4>
<h4>Formations : <%=contact.formations%></h4>
<h4>Expérience : <%=contact.experience%></h4>
<h4>Expériences dans le handicap : <%=contact.exphandicap%></h4>
<h4>Services possibles : <%=contact.services%></h4>
<h4>Statut : <%=contact.status%></h4>
<% if contact.photo.present? %>
  <%= cl_image_tag contact.photo, :width=>100, :height=>100 %>
<% else %>
  <H4>Pas de photo</H4>
<% end %>
<% if contact.cv.present? %>
  <%= cl_image_tag contact.cv , :width=>300, :height=>300%>
<% else %>
  <H4>Pas de cv</H4>
<% end %>



<% end %>
<br>
<br>
<br>

<% else%>
<H2 style="color:white"> ACCES PRIVÉ</H2>
<% end%>
</div>
