<body id="top">
  <header>
    <div class="header-logo" >


      <a >UPPIZ</a>
    </div>
    <a id="header-menu-trigger" href="#0">
      <span class="header-menu-text">Menu</span>
      <span class="header-menu-icon"></span>
    </a>
    <nav id="menu-nav-wrap">
      <a href="#0" class="close-button" title="close"><span>Close</span></a>
      <h3>UPPIZ</h3>
      <ul class="nav-list">
        <li class="current"><a class="smoothscroll" href="#home" title="">Accueil</a></li>
        <li><a class="smoothscroll" href="#about" title="">A propos de nous</a></li>
        <li><a class="smoothscroll" href="#services" title="">Notre charte</a></li>
        <li><a class="smoothscroll" href="#contact" title="">Inscrivez vous</a></li>
        <li><a class="smoothscroll" href="/users/sign_in" title="">Espace Admin</a></li>

      </ul>
      <ul class="header-social-list">
        <li>
          <a href="https://twitter.com/AutismeService" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
      </ul>
    </nav>
  </header>
  <section id="home">
    <div class="overlay"></div>
    <div class="home-content-table">
       <div class="home-content-tablecell">
        <div class="row">
          <div class="col-twelve">
            <h1 class="animate-intro">Nous recherchons des accompagnants.</h1>
            <h7class="animate-intro" style="color:white">
              Le site permet aux professionnels de santé qui proposent des services d'accompagnement de s'inscrire gratuitement en ligne afin que les internautes en recherche de ce type de prestation trouvent facilement la personne correspondant à leurs besoins.
            </h7>
            <video  width="400" height="222" controls="controls" src="/assets/video.mp4"></video>
            <div class="more animate-intro">
              <a class="smoothscroll button stroke" href="#about">
                    A propos de nous
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="home-social-list">
      <li class="animate-intro">
        <a href="https://twitter.com/AutismeService" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
    </ul>
    <div class="scrolldown">
      <a href="#about" class="scroll-icon smoothscroll">
        Descendre
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </section>
  <section id="about">
    <div class="row about-wrap">
      <div class="col-full">
        <div class="about-profile-bg"></div>
        <div class="intro">
          <h3 class="animate-this">A propos de nous</h3>
          <p >UPPIZ est une plateforme en ligne qui aide les personnes en situation de handicap à construire et à réaliser leurs projets de vacances/loisirs/activités.</br></br>

UPPIZ propose ainsi une large base de données (géolocalisée) d’hébergements et d’activités accessibles (culture, sport, parc d’attractions, terroir, etc.).</br></br>

UPPIZ met en relation des professionnels formés et les utilisateurs de la plateforme afin de répondre à leurs besoins spécifiques durant leur trajet ou leur séjour.</br></br>

UPPIZ s’appuie sur l’expertise de son fondateur, Thomas Bouquet, qui bénéficie d’une longue expérience dans le domaine de l’accompagnement des personnes en situation de handicap.</br></br>

UPPIZ est une entreprise de l’ESS (Economie sociale et solidaire) et dispose d’un agrément ESUS qui cadre son activité (salaires plafonnés, pas de dividendes, activités s’adressant à des publics vulnérables, etc.). UPPIZ bénéficie du soutien de Malakoff Médéric.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="overlay"></div>
    <div class="gradient-overlay"></div>
    <div class="row narrow section-intro with-bottom-sep animate-this">
      <div class="col-full">
        <h1>Qu'est ce que Uppiz ?</h1>
        <p class="lead">UPPIZ est une plateforme de services dédiée au tourisme à destination de personnes en situation de handicap. Elle permet de mettre en relation des professionnels et des utilisateurs qui construisent leurs projets de séjours ou loisirs sur la plateforme à travers des services innovants (géolocalisation des hébergements accessibles, activités adaptées, aides au financement du séjour, assistance téléphonique).<br><br>

Le site permet aux professionnels qui proposent des services d’accompagnement de s’inscrire gratuitement en ligne afin que les internautes en recherche de ce type de prestation trouvent facilement la personne correspondant à leurs besoins.</p>
      </div>
    </div>
    <div class="row services-content">
      <div class="services-list block-1-2 block-tab-full group">
        <div class="bgrid service-item animate-this">

          <div class="service-content">
            <h3 class="h05">Compétent</h3>
            <p>Les accompagnants Uppiz doivent présenter les compétences adéquates afin de répondre aux besoins spécifiques de chacun de nos clients. Ils sont responsables de la qualité de leur prestation et de leur coût.
            </p>
          </div>
        </div>
        <div class="bgrid service-item animate-this">

          <div class="service-content">
            <h3 class="h05">Respectueux</h3>
            <p>Les accompagnants UPPIZ font preuve de respect et de bienveillance dans leur travail d’accompagnement de nos clients.
            </p>
          </div>
        </div>
        <div class="bgrid service-item animate-this">

          <div class="service-content">
            <h3 class="h05">Bonne humeur</h3>
            <p>La mise en relation de nos clients et leurs accompagnants reposent sur une confiance mutuelle. Cette expérience de partage doit s’effectuer dans un climat propice à la bonne humeur.
            </p>
          </div>
        </div>
        <div class="bgrid service-item animate-this">

          <div class="service-content">
            <h3 class="h05">Sens du service</h3>
            <p>Les accompagnants aiment se rendre utiles et mettre leurs compétences au service de nos clients.
            </p>
          </div>
        </div>
        <div class="bgrid service-item animate-this">

          <div class="service-content">
            <h3 class="h05">Une communauté ouverte</h3>
              <p>Les accompagnants forment une communauté UPPIZ dans laquelle l’esprit d’entraide et de convivialité doit primer.
              </p>
            </div>
          </div>
          <div class="bgrid service-item animate-this">

            <div class="service-content">
                <h3 class="h05">Professionnel</h3>

                <p>Les accompagnants UPPIZ acceptent le retour d’expérience du client afin de valider leurs compétences et proposer leurs services à nos clients.
                </p>
              </div>

         </div> <!-- end bgrid -->



        </div> <!-- end services-list -->

    </div> <!-- end services-content -->

   </section> <!-- end services -->




   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

    <div class="row">
      <div class="col-twelve">
        <h2 class="animate-this">Nos partenaires</h2>
      </div>
    </div>

      <div class="row flex-container">

         <div id="testimonial-slider" class="flex-slider animate-this">

            <ul class="slides">

               <li>


                      <img src="/assets/user-02.png" width="1000" height="800" alt="Malakoff Mederic">


              </li> <!-- end slide -->

               <li>



                      <img src="/assets/user-03.jpg" alt="Author image">


               </li> <!-- end slide -->

            </ul> <!-- end slides -->

         </div> <!-- end testimonial-slider -->

      </div> <!-- end flex-container -->

   </section> <!-- end testimonials -->

   <section id="contact">

      <div class="overlay"></div>

    <div class="row narrow section-intro with-bottom-sep animate-this">
      <div class="col-twelve">
        <h3>Accompagnants</h3>
        <h1>Inscrivez vous </h1>

        <p class="lead"></p>
      </div>
    </div> <!-- end section-intro -->

    <div class="row contact-content">

      <div class="col-seven tab-full animate-this">

        <h5>Remplissez le formulaire</h5>
          <% @contact = Contact.new %>
          <%= simple_form_for @contact do |f|%>
            <!-- form -->





            <form name="contactForm" id="contactForm" method="post">
              <%= f.input :name, :required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Nom", style:"", label:false, input_html: { class:"form-field"} %>
              <%= f.input :prenom, :required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Prénom", style:"", label:false, input_html: { class:"form-field"} %>
              <%= f.input :age, :required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Âge", style:"", label:false, input_html: { class:"form-field"} %>
              <%= f.input :email, :required => true, name:"contactName", id:"contactName", type:"text", placeholder:"E-mail", style:"", label:false, input_html: { class:"form-field"} %>
              <%= f.input :mobile, :required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Téléphone", style:"", label:false, input_html: { class:"form-field"} %>
              <%= f.input :langue, :required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Langues parlées ou écrites", style:"", label:false, input_html: { class:"form-field"} %>

              <%= f.input :mobilite, :required => true, name:"contactEmail", id:"contactEmail", type:"email", placeholder:"Êtes vous mobile", style:"", label:false, input_html: { class:"form-field"} %>
              <%= f.input :lieuintervention, :as => :text, :required => true, name:"contactMessage", id:"contactMessage", type:"email", placeholder:"Lieu d'intervention habituel", style:"", label:false, input_html: { class:"form-field", style:"min-height:250px"} %>

              <%= f.input :permis, :required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Avez vous le permis de conduire", style:"", label:false, input_html: { class:"form-field"} %>
              <%= f.input :diplome, :required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Diplomes et qualifications", style:"", label:false, input_html: { class:"form-field"} %>
              <%= f.input :formations, :required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Formations spécifiques complémentaires", style:"", label:false, input_html: { class:"form-field"} %>
              <%= f.input :experience, :as => :text,:required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Expériences et recommandations", style:"", label:false, input_html: { class:"form-field", style:"min-height:250px"} %>
              <%= f.input :exphandicap,:as => :text, :required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Experiences handicap, quels types de personnes avez vous accompagné ?", style:"", label:false, input_html: { class:"form-field", style:"min-height:250px"} %>
              <%= f.input :services, :as => :text,:required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Quels types de services avez-vous l'habitude d'effectuer ?", style:"", label:false, input_html: { class:"form-field", style:"min-height:250px"} %>
              <%= f.input :ststut, :required => true, name:"contactName", id:"contactName", type:"text", placeholder:"Votre statut juridique ", style:"", label:false, input_html: { class:"form-field"} %>
              <p style="color:white;">Votre photo</p>
               <%= f.input :photo, class: "form-control", label:"Votre photo"%>
                          <%= f.input :photo_cache, as: :hidden %>
              <p style="color:white;">Votre cv</p>
               <%= f.input :cv, class: "form-control", label:"Votre CV"%>
                          <%= f.input :photo_cache, as: :hidden %>
               <div class="form-field">
                  <button  class="submitform">Envoyer</button>

                  <p>Les informations demandées ci-dessus peuvent constituer des données à caractère personnel au sens du Règlement général du Parlement européen et du Conseil relatif à la protection des données personnelles n° 2016/679 du 27 avril 2016 et de la Loi Informatique & Libertés n° 78/17 du 6 janvier 1978 dans sa rédaction issue de la loi n° 2018/493 du 20 juin 2018. UPPIZ collecte ces données afin de mettre en relation les utilisateurs de la plateforme avec des professionnels qui pourront les accompagner dans leur projet de vacances, séjours ou loisirs.<br>
Les champs signalés d’un astérisque rouge concernent des données nécessaires sans lesquelles votre demande ne pourra pas être prise en compte.
Uppiz traite ces données conformément à la <a href="/mentions" target="_blank"ƒ >charte de confidentialité</a> qu’elle a adoptée</p>



                  <div id="submit-loader">
                     <div class="text-loader">Envoi en cours...</div>
                  <div class="s-loader">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
              </div>
            </div>
               </div>

          </form> <!-- end form -->
          <% end %>
            <!-- contact-warning -->
            <div id="message-warning"></div>

            <!-- contact-success -->
          <div id="message-success">
               <i class="fa fa-check"></i>Votre demande est envoyée, merci!<br>
          </div>

         </div> <!-- end col-seven -->

         <div class="col-four tab-full contact-info end animate-this">

          <h5>Informations</h5>



        <div class="cinfo">
          <h6>Notre adresse Mail</h6>
          <a>
            info@uppiz.com
           </a>
        </div> <!-- end cinfo -->

        <div class="cinfo">
          <h6>Nous appeler</h6>
          <p>
            Eric: 06 61 86 38 31


           </p>
        </div>

         </div> <!-- end cinfo -->

    </div> <!-- end row contact-content -->

  </section> <!-- end contact -->




   <!-- Java Script
   ================================================== -->
   <script src="/assets/jquery-2.1.3.min.js"></script>
   <script src="/assets/plugins.js"></script>
   <script src="/assets/main.js"></script>

</body>
