<!DOCTYPE html>
<html>
  <head>
    <title>Site des acompagnants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/base.css">
    <link rel="stylesheet" href="/assets/vendor.css">
    <link rel="stylesheet" href="/assets/main.css">
    <script src="/assets/modernizr.js"></script>
    <script src="/assets/pace.min.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="/assets/x-icon">
    <link rel="icon" href="/assets/logo.png" type="image/logo.png">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
